<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.COVID19Tracker.covid19">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bmi_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bmi_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.COVID19Tracker.covid19.Feedback"/>
        <activity android:name="com.COVID19Tracker.covid19.MainActivity" />
        <activity android:name="com.COVID19Tracker.covid19.News" />
        <activity android:name="com.COVID19Tracker.covid19.sym" />
        <activity android:name="com.COVID19Tracker.covid19.Payment" />
        <activity android:name="com.COVID19Tracker.covid19.Suggestion" />
        <activity android:name="com.COVID19Tracker.covid19.Testing" />
        <activity android:name="com.COVID19Tracker.covid19.BMI" />
        <activity android:name="com.COVID19Tracker.covid19.DisplayOnclick" />
        <activity android:name="com.COVID19Tracker.covid19.worldwidestaris" />
        <activity android:name="com.COVID19Tracker.covid19.SaplahScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>